services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://test_role:my_password@db:5432/myappdb
    depends_on:
      - db

  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: test_role
      POSTGRES_PASSWORD: my_password
      POSTGRES_DB: myappdb
    ports:
      - "5432:5432"